pre {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  background: rgba(200, 200, 200, 0.04);
  padding: 0.5em;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  font-family: "Open Sans", sans-serif;
}
